<div class='flex'>
   <h1>You have been invited to join <b>Agendar</b></h1>
   <div>
         <div class='flex'>
            <h3>This is your Team's code</h3>
            <span class='bg-success:500'><%= @team.authentification_code %></span>
         <div>

         <div class='flex'>
            <h3>Your individual signon code</h3>
            <span class='bg-success:500'><%= @utn_token %></span>
         <div>
   </div>
</div>